<!DOCTYPE html>
<html lang="ko">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', path='base.css') }}" rel="stylesheet">

    <!-- Bootstrap Icons CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
<div class="sidebar">
    <div class="search-box">
        <input placeholder="검색어를 입력하세요." type="text">
        <button><i class="bi bi-search"></i></button>
    </div>
    <div class="sidebar-content">
        {% set ns = namespace(index=0) %}

        <ul>
            {% for chapter in chapters %}
                <li class="chapter-title">{{ chapter[0] }}</li>
                
                <ul>
                    {% for item in chapter[1:] %}

                    {% if current_page == ns.index %}
                        <li class="active"><a href="/page/{{ ns.index }}" style="display: block">{{ item }}</a></li>
                    {% else %}
                        <li><a href="/page/{{ ns.index }}" style="display: block">{{ item }}</a></li>
                    {% endif %}

                        {% set ns.index = ns.index + 1 %}
                    {% endfor %}

                </ul>
            {% endfor %}
        </ul>
    </div>
</div>

<main class="content">
    {% block content %}

    {% endblock %}
</main>
</body>
</html>
