{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', path='page.css') }}" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
{% endblock %}

{% block content %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const raw_content = {{ content | tojson }};

        if (raw_content.split("$$$$$").length === 2) {
            document.getElementsByClassName('content')[0].innerHTML = marked.parse(raw_content.split("$$$$$")[0]) + raw_content.split("$$$$$")[1];

            const script = document.createElement("script");
            script.src = "https://www.jdoodle.com/assets/jdoodle-pym.min.js";
            script.type = "text/javascript";
            document.getElementById("jdoodle-container").appendChild(script);
        }else{
            document.getElementsByClassName('content')[0].innerHTML = marked.parse(raw_content.split("$$$$$")[0]);
        }
    });
</script>
{% endblock %}