.content {
    font-size: 150%;
}


       table {
           border-collapse: collapse;

       }

        th, td {
          border: 1px solid rgb(128, 128, 128);
          padding: 8px;
          text-align: left;
        }

        tr:nth-child(even) {
            background-color: #f7f7f7;
        }

        pre {
            padding: 20px;
            background-color: #f2f2f2;
            border-radius: 10px;

            margin:20px;
        }

        ol {
            padding-left: 50px;
        }

        p{
            text-indent: 1em;
        }